.ant-menu.ant-menu-inline-collapsed {
  width: 60px;
}
.decorationsOverviewRuler {
  width: 8px !important;
  border-radius: 4px;
}
.scrollbar {
  border-radius: 4px;
  width: 8px !important;
}
.slider {
  width: 8px !important;
  border-radius: 4px;
}

.react-draggable {
  top: 0;
  left: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  /*background-color: #f4f9ff;*/
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(176, 196, 222,0.4);
}